# --- Minecraft runtime files ---
logs/
crash-reports/
saves/
screenshots/
backups/

# --- CurseForge / launcher metadata ---
*.log
.curseclient

command_history.txt
journeymap/journeymap.log
journeymap/data/
Distant_Horizons_server_data/
ESM/
local/
schematics/
simplebackups/
backup/
blueprints/
cobblemon-battle-logs/
debug/
downloads/
.mixin.out/
.sable/
cobblemon/
cobblenav/
patchouli_books/
defaultconfigs/
journeymap/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
moonlight-global-datapacks/
showdown/
.qmenu_opened.marker
imgui.ini
minecraftinstance.json
patchouli_data.json
ponders_watched.json
servers.dat
servers.dat_old
user-prefs.json
usercache.json
usernamecache.json
WaypointData.dat
mods/